$spacer-xs: 4px;
$spacer-s: 8px;
$spacer-m: 16px;
$spacer-l: 24px;
$spacer-xl: 32px;
$spacer-xxl: 40px;

$color-black: #111;
$color-white: #fff;

$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
