@import "styles/scss-vars.scss";

.container {
  display: flex;
  padding-top: 20px;
  padding-bottom: $spacer-xxl;

  @media only screen and (min-width: $breakpoint-mobile) {
    padding-top: 40px;
    padding-left: $spacer-xxl;
    padding-right: $spacer-xxl;
  }

  @media only screen and (min-width: $breakpoint-large-desktop) {
    padding-top: 80px;
    padding-left: 70px;
    padding-right: 70px;
  }

  .content {
    @media only screen and (max-width: $breakpoint-mobile) {
      display: flex;
      margin: auto;
      flex-direction: column;
      width: 75%;
    }

    @media only screen and (min-width: $breakpoint-mobile) {
      width: min-content;
    }
  }

  .heading {
    margin-top: 0;
    font-size: 30px;
    color: $color-white;

    @media only screen and (min-width: $breakpoint-mobile) {
      font-size: 65px;
    }

    @media only screen and (min-width: $breakpoint-large-desktop) {
      font-size: 120px;
      line-height: 143px;
    }
  }

  .paragraph {
    margin: 0;
    font-size: 16px;

    @media only screen and (min-width: $breakpoint-mobile) {
      font-size: 18px;
    }

    i {
      font-weight: normal;
    }

    &:not(:first-of-type) {
      padding-top: $spacer-l;
    }
  }

  .image-container {
    display: none;
    flex: 1;

    @media only screen and (min-width: 740px) {
      display: block;
    }
  }

  .dna-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
