@import "styles/scss-vars.scss";

$heading-margin-top-mobile: 20px;
$heading-font-size-mobile: 30px;
$heading-line-height-mobile: $heading-font-size-mobile * 1.5;

$heading-margin-top-tablet: 40px;
$heading-font-size-tablet: 65px;
$heading-line-height-tablet: $heading-font-size-tablet * 1.5;

$heading-margin-top-desktop: 80px;
$heading-font-size-desktop: 120px;
$heading-line-height-desktop: 143px;

.container {
  display: flex;
  padding-bottom: $spacer-xxl;

  @media only screen and (min-width: $breakpoint-mobile) {
    padding-left: $spacer-xxl;
    padding-right: $spacer-xxl;
  }

  @media only screen and (min-width: $breakpoint-large-desktop) {
    padding-left: 70px;
    padding-right: 70px;
  }

  .content {
    @media only screen and (max-width: $breakpoint-mobile) {
      display: flex;
      margin: auto;
      flex-direction: column;
      width: 75%;
    }

    @media only screen and (min-width: $breakpoint-mobile) {
      width: min-content;
    }
  }

  .heading {
    margin-top: $heading-margin-top-mobile;
    font-size: $heading-font-size-mobile;
    line-height: $heading-line-height-mobile;
    color: $color-white;

    @media only screen and (min-width: $breakpoint-mobile) {
      margin-top: $heading-margin-top-tablet;
      font-size: $heading-font-size-tablet;
      line-height: $heading-line-height-tablet;
    }

    @media only screen and (min-width: $breakpoint-large-desktop) {
      margin-top: $heading-margin-top-desktop;
      font-size: $heading-font-size-desktop;
      line-height: $heading-line-height-desktop;
    }
  }

  .paragraph {
    margin: 0;
    font-size: 16px;

    @media only screen and (min-width: $breakpoint-mobile) {
      font-size: 18px;
    }

    i {
      font-weight: normal;
    }

    &:not(:first-of-type) {
      padding-top: $spacer-l;
    }
  }

  .dna-image {
    display: none;

    @media only screen and (min-width: $breakpoint-mobile) {
      display: block;
      margin-top: $heading-margin-top-tablet + $heading-line-height-tablet - $heading-font-size-tablet;
      margin-left: 60px;
    }

    @media only screen and (min-width: $breakpoint-large-desktop) {
      display: block;
      margin-top: $heading-margin-top-desktop + $heading-line-height-desktop - $heading-font-size-desktop;
      margin-left: 114px;
    }
  }
}
