.black {
  .background {
    background-color: #000;
  }
}

.gradient {
  background-color: #3334fe;

  .background {
    background: linear-gradient(180deg, #5c6b76 0%, #566389 14.54%, #3334fe 79.77%) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
