@import "@/styles/scss-vars.scss";

.header {
  position: relative;
  padding-top: $spacer-m;
  padding-bottom: $spacer-m;
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 1;

  .item {
    margin-right: $spacer-xl;
    margin-left: $spacer-xl;
    font-size: 16px;
    text-decoration: none;
    color: $color-white;

    @media only screen and (max-width: $breakpoint-mobile) {
      margin-right: $spacer-m;
      margin-left: $spacer-m;
    }
  }

  .active {
    color: $color-yellow;
  }
}
