@import "@/styles/scss-vars.scss";

.container {
  display: flex;
  margin-top: 60px;

  .letter {
    margin: auto;

    .mutation-type {
      margin-top: $spacer-xxl;
      text-align: center;
      font-size: 24px;
      color: $color-white;
    }
  }
}
