@import "@/styles/scss-vars.scss";

.navigation {
  text-align: center;
  margin-bottom: 60px;
  margin-top: -40px;

  @media only screen and (min-width: $breakpoint-desktop) {
    display: flex;
  }
}

.alphabet-navigation {
  display: none;

  @media only screen and (min-width: $breakpoint-desktop) {
    display: block;
    margin-left: auto;
    margin-right: 50px;
  }
}

.alphabet-link {
  display: block;
  margin-top: 60px;
  font-size: 24px;
  text-decoration: none;
  color: $color-white;

  &:hover,
  &:active,
  &--highlighted {
    color: $color-black;
  }

  @media only screen and (min-width: $breakpoint-desktop) {
    display: none;
  }
}
