@import "styles/scss-vars.scss";

.container {
  margin-top: 100px;
  padding-bottom: 60px;

  .section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .font-size-container {
    display: flex;
    flex-wrap: wrap;

    .radio-wrapper {
      display: flex;
      align-items: center;
      position: relative;
      padding-left: $spacer-xl;
      margin-bottom: $spacer-s;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: $color-white;
      margin-right: $spacer-xl;
      height: $spacer-l;

      .input {
        position: absolute;
        opacity: 0;
        cursor: pointer;

        &:checked ~ .checkmark {
          background-color: $color-yellow;
        }

        &:checked ~ .checkmark:after {
          display: block;
        }
      }

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: $color-white;
        border-radius: 50%;
        border: 2px solid $color-white;
      }

      &:hover {
        .input ~ .checkmark {
          background-color: darken($color-yellow, 20%);
        }
      }
    }
  }

  .textarea {
    width: 100%;
    height: 336px;
    margin-top: $spacer-l;
    border: none;
    font-size: 24px;
    color: white;
    background-color: transparent;
    resize: none;
    outline: none;
    font-family: $font-family-secondary;

    &::placeholder {
      font-family: $font-family-primary;
      color: $color-white;
      opacity: 0.3;
      font-style: italic;
      font-size: 75%;
    }
  }

  .download {
    text-align: center;
    margin-top: 56px;
    margin-bottom: 16px;
  }

  .download-link {
    font-size: 80px;
    color: $color-yellow;

    &:hover,
    &:active {
      color: $color-white;
    }
  }

  .anatomy-title {
    margin-top: 72px;
    margin-bottom: 0;
    font-size: 36px;
    line-height: 50px;
    text-align: center;

    @media only screen and (min-width: $breakpoint-mobile) {
      font-size: 56px;
      line-height: 70px;
    }

    @media only screen and (min-width: $breakpoint-desktop) {
      font-size: 90px;
      line-height: 107px;
    }
  }

  .anatomy-image {
    width: 100%;

    @media only screen and (min-width: $breakpoint-mobile) {
      margin-left: -50px;
    }
  }
}
