@import "styles/scss-vars.scss";

@mixin radio-checkbox-after {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  top: -2px;
  left: -1px;
  position: relative;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid $color-white;
}

.container {
  margin-top: 80px;
  padding-bottom: 60px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  .input-wrapper {
    display: inline-block;
    margin-right: $spacer-xl;

    .input {
      padding: $spacer-s $spacer-m;
      -moz-appearance: initial;

      &:after {
        @include radio-checkbox-after;
        background-color: $color-white;
      }

      &:checked:after {
        @include radio-checkbox-after;
        background-color: $color-yellow;
      }
    }

    .label {
      margin-left: $spacer-s;
      color: $color-white;
    }
  }

  .textarea {
    width: 100%;
    height: 336px;
    margin-top: $spacer-l;
    border: none;
    font-size: 24px;
    color: white;
    background-color: transparent;
    resize: none;
    outline: none;
    font-family: $font-family-secondary;

    &::placeholder {
      font-family: $font-family-primary;
      color: $color-white;
      opacity: 0.3;
      font-style: italic;
    }
  }

  .download {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .download-link {
    font-size: 80px;
    color: $color-yellow;

    &:hover,
    &:active {
      color: $color-white;
    }
  }

  .anatomy-title {
    margin-top: 72px;
    margin-bottom: 0;
    font-size: 36px;
    line-height: 50px;
    text-align: center;

    @media only screen and (min-width: $breakpoint-mobile) {
      font-size: 56px;
      line-height: 70px;
    }

    @media only screen and (min-width: $breakpoint-desktop) {
      font-size: 90px;
      line-height: 107px;
    }
  }

  .anatomy-image {
    width: 100%;
    margin-left: -50px;

    &:not(:first-of-type) {
      margin-top: $spacer-l;
    }
  }
}
