@import "@/styles/scss-vars.scss";
@import "@/styles/mixins.scss";

.container {
  margin-top: 100px;
  padding-bottom: 60px;

  .section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .font-size-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .textarea {
    width: 100%;
    height: 336px;
    margin-top: $spacer-l;
    border: none;
    font-size: 24px;
    color: white;
    background-color: transparent;
    resize: none;
    outline: none;
    font-family: $font-family-secondary;
    text-align: center;

    &::placeholder {
      font-family: $font-family-primary;
      color: $color-white;
      opacity: 0.3;
      font-style: italic;
      font-size: 75%;
    }
  }

  .download {
    text-align: center;
    margin-top: 56px;
    margin-bottom: 16px;
  }

  .download-link {
    font-size: 80px;
    color: $color-yellow;

    &:hover,
    &:active {
      color: $color-white;
    }
  }

  .anatomy-title {
    margin-top: 72px;
    margin-bottom: 0;
    text-align: center;
    @include section-title;
  }

  .anatomy-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .anatomy-image {
    max-width: 100%;
    max-height: 100vh;
  }
}
