@import "styles/scss-vars.scss";

@font-face {
  font-family: "Genomas";
  src: url("assets/fonts/Genomas.woff2") format("woff2"), url("assets/fonts/Genomas.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

// @font-face {
//   font-family: "Genomas";
//   src: url("assets/fonts/Genomas-bold.woff2") format("woff2"), url("assets/fonts/Genomas-bold.woff") format("woff");
//   font-style: normal;
//   font-weight: bold;
//   text-rendering: optimizeLegibility;
// }

body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Arial;
  line-height: 1.5;
  color: $color-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
