@import "@/styles/scss-vars.scss";
@import "@/styles/mixins.scss";

.language-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.alphabet {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 76px;

  @media only screen and (min-width: $breakpoint-mobile) {
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 126px;
  }

  @media only screen and (min-width: $breakpoint-desktop) {
    padding-top: 60px;
    padding-left: 120px;
    padding-right: 120px;
    font-size: 189px;
  }
}

.alphabet-placeholder {
  @extend .alphabet;
  position: static;
  visibility: hidden;
}

.static-alphabet {
  @extend .alphabet;
  position: static;
}

.mutations {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 100px;

  .title {
    margin-top: $spacer-l;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    @include section-title;
  }

  .subtitle {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 12px;
    font-style: italic;
    line-height: 15px;
    text-align: center;
    color: $color-black;

    @media only screen and (min-width: $breakpoint-mobile) {
      margin-top: 14px;
      font-size: 13px;
      line-height: 16px;
    }

    @media only screen and (min-width: $breakpoint-desktop) {
      margin-top: 17px;
      font-size: 14px;
      line-height: 17px;
    }
  }

  .mutation {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;

    &:not(:first-of-type) {
      margin-top: 80px;
    }

    @media only screen and (min-width: $breakpoint-desktop) {
      margin-top: 140px;

      &:not(:first-of-type) {
        margin-top: 180px;
      }
    }
  }

  .mutation-info {
    flex: 1;
  }

  .mutation-header {
    display: flex;
  }

  .mutation-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: $color-white;
    margin-top: 0;
    margin-bottom: 0;

    @media only screen and (min-width: $breakpoint-mobile) {
      font-size: 16px;
      line-height: 19px;
    }

    @media only screen and (min-width: $breakpoint-desktop) {
      flex: 0 0 347px;
      width: 347px;
      font-size: 18px;
      line-height: 21px;
    }
  }

  .mutation-line {
    display: none;
    width: 100%;
    height: 1px;
    background-color: $color-white;
    margin-top: 11px;
    margin-left: 23px;
    margin-right: 39px;

    @media only screen and (min-width: $breakpoint-desktop) {
      display: block;
    }
  }

  .mutation-description {
    font-size: 14px;
    line-height: 17px;
    color: $color-black;
    margin-top: 15px;
    margin-bottom: 0;

    @media only screen and (min-width: $breakpoint-mobile) {
      font-size: 16px;
      line-height: 19px;
    }

    @media only screen and (min-width: $breakpoint-desktop) {
      width: 397px;
      font-size: 18px;
      line-height: 21px;
    }
  }

  .image {
    display: none;

    @media only screen and (min-width: $breakpoint-desktop) {
      display: block;
    }
  }

  .image-circle {
    position: relative;
    width: 263px;
    height: 263px;
    background-color: $color-white;
    border: 5px solid $color-yellow;
    border-radius: 50%;
    box-sizing: border-box;
  }

  .monosomy-image {
    position: absolute;
    left: 44px;
    top: 55px;
  }

  .trisomy-image {
    position: absolute;
    left: 123px;
    top: 130px;
  }

  .mutagen-image {
    position: absolute;
    left: 30px;
    top: 14px;
  }
}
